<%# app/views/quotes/index.html.erb %>
  <%# 
  custom non-html element created in TJL (turbo javascript library)
  having a unique id given as first attribute [in this case first_turbo_frame].
  It intercepts links and form submissions and thus makes
  the frame an independent piece of the web page.
%>
<%= turbo_stream_from current_company, "quotes" %>
<%# above code generates 
a custom element named
<turbo-cable-stream-source
  channel="Turbo::StreamsChannel"
  signed-stream-name="very-long-string for security"
>
</turbo-cable-stream-source>
%>
<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote", new_quote_path, data: {turbo_frame: dom_id(Quote.new)},class: "btn btn--primary" %>
  </div>

  <%= turbo_frame_tag Quote.new %>

  <%= turbo_frame_tag "quotes" do %>
    <%= render "quotes/empty_state" %>
    <%= render @quotes %>
  <% end %>
</main>
